
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
/* HOME */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: rgb(6, 6, 53);
  color: white;
  font-family: 'poppins','san-serif';
  
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(8, 8, 69);
}
.right ul {
  display: flex;
  margin: 56px;
}

nav ul li {
  list-style: none;
  margin: 0px 23px;
  font-size: 20px;
}
nav ul li a {
  color: whitesmoke;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 140px 0;
}
.firstection > div {
  width: 30%;
}
.leftsection {
  font-size: 4rem;
  margin: 84px;
}
.rightsection {
  width: 30%;
}
.rightsection img {
  width: 80%;
  margin: 40px 0;
  height: auto;
}
.purple {
  color: rgb(108, 1, 108);
}
.secondsection {
  max-width: 75vw;
  margin: auto;
}
main hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 40px 84px;
}
.secondsection span {
  color: blueviolet;
}
.secondsection h1 {
  font-size: 3.5rem;
}
.buttons .btnd {
  background-color: rgb(8, 8, 69);
  color: white;
  width: 35%;
  height: 44px;
  border: solid;
  border-radius: 2px;
  cursor: pointer;
}
.buttons .btnd:hover{
   color: rgb(99, 28, 180); 
}
.buttons .btn:hover{
  font-size: medium;
}
.buttons .btn {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 31%;
  height: 44px;
  border: solid;
  border-radius: 2px;
  cursor: pointer;
}
nav ul li a:hover {
  color: rgb(99, 28, 180);
  font-size: 1.1rem;
}
#element
{
    color: rgb(108, 1, 108); 
}
.left 
{
  font-size: 1.9rem;
}
/* CONTACT FORM */
.contactform h1{
  font-family: 'poppins','san-serif';
  padding: 12px 0;
 }
.contactform{
 padding: 0px 144px;
 padding-top: 144px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.contactform form div{
  padding: 18px 0px;
  display: flex;
  flex-direction: column;
}
.contactform form div input{
  width: 26vw;
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}
#emailHelp
{
  font-size: 11px;
  color: blueviolet;
  margin:0 5px;
  padding: 3px 0 0 0;
}
#fc
{
  display: flex;
  flex-direction: row;
}
#isclient
{
  width: 24px;
  margin: 3px 0;
}
 #submitbtn
{
  background-color: rgb(8, 8, 69);
  color: white;
  width: 35%;
  height: 44px;
  border: solid;
  border-radius: 2px;
  cursor: pointer;
}

/*  ABOUT button */
.about
{
  margin-bottom: 50px;  
}
#aboutid
{
  margin: 20px;
} 
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
  color: rgb(102 102 150);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: left;
}
.box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-self: center;
}
.box h4
{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.tools h4
{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.percent
{
  position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
  #abouttable
  {
    background-color: #524ae8;
  }
  #pd
  {
    position: relative;
    top: -182px;
  }
  #Degree
  {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
  }
  .title
  {
    color: rgb(102 102 150);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: left;
  }
  .contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
ul li a:hover
{
  color: aqua;  
  font-weight: 300;
}
#webdevp
{
  display: flex;
  flex-direction: row;
  gap: 20px;

}
#pbuttons
{
  margin: 5px;
}
#imgwebdev
{
  width: 25vw;
  height: 300px;
}
#webdevp
{
  margin: 20px;
}
#projects{
background-color:rgb(6, 6, 53) ;
}
#recentworks

{
  text-align: center;
}
.work__card
{
background-color :aliceblue;
width: 30vw;
}
#recentworks
{
  color: #254aa6;
}
.section__tile
{
  color: rgb(145, 23, 145)
}
.work__link
{
  display: block;
  position: relative;
  padding: 1rem 0rem 1.5rem 0.5rem;
  transition: transform .4s;
}
.work__title
{
  margin-bottom: .75rem;
}
.work__description
{
  margin-bottom: 1.3rem;
}
.work__link i
{
  position: absolute;
  top: 1.8rem;
  right: 1.5rem;
  font-size: 1.5rem;
  transition: transform .45s;
}
.work__link:hover
{
  transform: translateY(-.45rem);
}
.work__link:hover i{
  transform: translateX(.5rem);
}
@media screen and (max-width: 1200px) 
{
  #webdevp
  {
    display: flex;
    flex-direction: column;
    gap: 35px
  
  } 
  #btnd
  {
    background-color: rgb(8, 8, 69);
  color: white;
  width: 15%;
  height: 44px;
  border: solid;
  border-radius: 2px;
  cursor: pointer;
  }
  #webdevp
{
  margin-left: 90px;
}

#imgwebdev
{
  width:40vw;
  height: 300px;
}
#webdevp
{
margin: 20px;
} 
.work__card
{
width: 45vw;
background-color :aliceblue;
}
 
}
@media screen and (max-width: 800px) 
{
  nav ul li {
    list-style: none;
    margin: 0px;
  }
  nav {
    flex-direction: column;
    height: 40vh;
  }
  nav ul {
    flex-direction: column;
    position: relative;
    top: -21px;
  }
  nav ul li{
    font-size: 24px;
  }

  nav ul li a {
    color: whitesmoke;
  }

  nav ul li a:hover {
    color: rgb(99, 28, 180);
    font-size: 1.1rem;
  }
  .firstSection {
    display: flex;
    flex-direction: column;
  }
  .rightsection {
    width: 82%;
    margin: 39px;
  }
  .left {
    font-size: 2.2rem;
    margin-top: 30px;
  }
  .leftsection {
    font-size: 3rem;
    margin: 84px;
  }
  .box 
 {
    grid-template-columns: repeat(1,1fr);
 }
 #submitbtn h3{
  font-size: 15px;
}
#submitbtn:hover
{
  color: rgb(99, 28, 180); 
}
  
#aboutid
{
  margin: 40px;
} 
.contactform
{
  position: relative;
  left: -53px;
}
#submitbtn:hover
{
  color: rgb(99, 28, 180); 
}
#webdevp
{
  display: flex;
  flex-direction: column;
  gap: 35px

}
#imgwebdev
{
  width:80vw;
  height: 300px;
}
#webdevp
{
margin: 20px;
} 
.work__card
{
width: 85vw;
background-color :aliceblue;
}
}

@media screen and (max-width: 600px) 
{
  #submitbtn h3{
    font-size: 10px;
    }
    #submitbtn
    {
     
      width: 5vh;
      border: solid;
      border-radius: 8px;
      cursor: pointer; 
    } 
    #submitbtn:hover
    {
      color: rgb(99, 28, 180); 
    }

    #imgwebdev
{
  width: 35vw;
}  
  #aboutid
{
  margin: 40px;
  
}
#btnd
{
  background-color: rgb(8, 8, 69);
color: white;
width: 30%;
height: 44px;
border: solid;
border-radius: 2px;
cursor: pointer;
}
#webdevp
{
  margin: 20px;
}
#imgwebdev
{
  width:80vw;
  height: 300px;
}
#webdevp
{
margin: 20px;
} 
.work__card
{
width: 85vw;
background-color :aliceblue;
}
} 


@media screen and (max-width: 400px)
{
  #imgwebdev
  {
    width:80vw;
    height: 300px;
  }
  #webdevp
{
  margin: 20px;
} 
.work__card
{
width: 85vw;
background-color :aliceblue;
}
} 